html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: #faf7ef;
  font-family: "Ibarra Real Nova", serif;
  max-width: 100vw;
  margin: auto;
}

.mainHeader {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 110;
}

.headerClass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-height: 100px;
  width: auto;
  margin-right: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #faf7ef;
}

.headerClass .logoImg {
  display: inline-block;
  padding: 10px;
  max-width: 25px;
  max-height: 25px;
}

.headerClass .logoClass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 40px;
}

.headerClass .logoClass p {
  margin: auto;
}

.headerTwo {
  background-color: black;
  color: #faf7ef;
}

.menuContainer {
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menuContainer a {
  padding: 20px 50px 20px 50px;
  color: white;
  text-decoration: none;
  font-weight: 900;
  font-size: 24px;
}

.menuContainer a:hover {
  background-color: grey;
  color: white;
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
  font-weight: 700;
}

.menuContainer:hover {
  opacity: 50%;
  -webkit-transition: 50ms;
  transition: 50ms;
}

.mainClass img {
  float: left;
  max-width: 100%;
  height: auto;
  margin: 10px;
}

.topSection {
  position: relative;
  top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 20px;
  max-height: 100vh;
}

.topSection .topArticle {
  max-width: 40%;
  margin: 10px;
}

.topSection .topArticle h1 {
  margin: 20px 0;
  font-size: 40px;
}

.topSection .topArticle p {
  text-align: justify;
  line-height: 1.5;
  font-size: 20px;
}

.topMidSection {
  position: relative;
  top: 120px;
}

.topMidSection h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.topMidSection .casesContainer {
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.topMidSection .casesBox {
  max-width: 35vw;
}

.topMidSection .casesBox p {
  text-align: justify;
}

.aboutmeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
}

.aboutmeContainer p {
  margin: 20px;
  max-width: 50vw;
}
/*# sourceMappingURL=style.css.map */