@import 'reset';


$standard-color: #faf7ef;
$standard-margin:10px;
$standard-font:'Ibarra Real Nova', serif;
$standard-fontsize: 16px;

body {
  background-color: $standard-color;
  font-family: $standard-font;
  max-width: 100vw;
  margin: auto;
} 

// top section

.mainHeader {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 110;
}
.headerClass {
  display: flex;
  flex-direction: row;
  max-height: 100px;
  width: auto;
  margin-right: $standard-margin*5;
  justify-content: space-around;
  background-color: $standard-color;
  .logoImg {
    display: inline-block;
    padding: $standard-margin;
    max-width: 25px;
    max-height: 25px;
  }
     
   
  .logoClass {
    display: flex;
    flex-direction: row;
    margin-left: $standard-margin*4;
    p {
      margin: auto;
    }
  }
}
.headerTwo {
  background-color: black;
  color: $standard-color;
}
.menuContainer {
  top: 0;
  // right: 20px;
  box-sizing: border-box;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
    a {
      padding: 20px 50px 20px 50px;
      color: white;
      text-decoration: none;
      font-weight: 900;
      font-size: 24px;
      
    } 
    a:hover {
      background-color: grey;
      color: white;
      transition-delay: 50ms;
      font-weight: 700;
    }
}
  .menuContainer:hover {
    opacity: 50%;
    transition: 50ms;
  }

.mainClass {
  img {
    float: left;
    max-width: 100%;
    height: auto;
    margin: $standard-margin;
  }
}

.topSection {
  position: relative;
  top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: $standard-margin*2;
  max-height: 100vh;

    .topArticle {
      max-width: 40%;

      margin: $standard-margin;
      h1 {
        margin: $standard-margin*2 0;
        font-size: 40px;
      }
      p {
        text-align: justify;
        line-height: 1.5;
        font-size: 20px;
      }
    }
}

// mid section

.topMidSection {
  position: relative;
  top: 120px;
  h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  }
  .casesContainer {
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  }
  .casesBox {
    max-width: 35vw;
    p {
      text-align: justify;
    }
  }
}


//bemutatkozás

.aboutmeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: $standard-margin*2;
  p {
    margin: $standard-margin*2;
    max-width: 50vw;

  }
  }