@import 'reset';


$standard-color: #faf7ef;
$standard-margin:10px;
$standard-font:'Ibarra Real Nova', serif;

body {
  background-color: $standard-color;
  font-family: $standard-font;
  max-width: 80vw;
  margin: auto;

  
} 

// top section

.headerClass {
  position: relative;
  display: flex;
  flex-direction: row;
  max-height: 100px;
  width: auto;
  margin-top: $standard-margin*4;
  justify-content: space-between;
  p,a {
    margin: 0;
    padding: 10px;
  }
  .logoClass {
    display: inline;
    margin-left: $standard-margin*4;
  }
}
.menuContainer {
  // position: absolute;
  top: 0;
  // right: 20px;
  box-sizing: border-box;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    a {
      padding: 10px;
      color: black;
      text-decoration: none;
      font-weight: 700;
      
    } 
    a:hover {
      background-color:black;
      color: white;
      transition-delay: 50ms;
      font-weight: 700;
    }
}
  .menuContainer:hover {
    opacity: 50%;
    transition: 50ms;
  }

.mainClass {
  img {
    margin: $standard-margin;
  }
}

.topSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: $standard-margin*2;
    .topArticle {
      margin: $standard-margin;
      h1 {
        font-size: 40px;
      }
      p {
        font-size: 24px;
      }
    }
}

// mid section

.topMidSection {
  h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  }
  .casesContainer {
  max-width: 80vw;
  margin: auto;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  margin: $standard-margin;
  }
  .casesBox {
    max-width: 35vw;
    p {
      text-align: justify;
    }
  }
}


//bemutatkozás

.aboutmeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: $standard-margin*2;
  p {
    margin: $standard-margin*2;
    max-width: 50vw;

  }
  }