@import "src/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Garamond";
}
body {
  background-color: black;
  color: $textcolor;
}

a {
  text-decoration: none;
}
//topnav
.topnavsection {
  padding: $basemargin $basemargin * 8 0;
  display: flex;
  justify-content: space-between;
  background-color: $bgcolor;
  color: $textcolor;
  .topnavdiv {
    padding: $basemargin;
    display: flex;
  }
  .topnavicons {
    padding: $basemargin;
    a {
      padding: 0 2px;
      color: $textcolor;
      text-decoration: none;
    }
  }

  @media screen and (max-width: 1020px) {
    justify-content: flex-end;
  }
}

.verticalspacer {
  width: 2px;
  background-color: $gold;
  margin: 0 $basemargin;
}

//Navbar

.navbar {
  display: flex;
  justify-content: flex-end;
  margin: $basemargin * 2 $basemargin * 8;
  color: $textcolor;
  a {
    padding: $basemargin;
    color: $textcolor;
    text-decoration: none;
  }
  a:hover {
    background-color: gold;
    color: $bgcolor;
  }
}

//Hero

.heroDiv {
  display: block;
  position: relative;
  top: -130px;
  width: 95vw;
  height: auto;
  overflow: hidden;
  img {
    display: block;
    position: relative;
    overflow: hidden;
    right: -90px;
    width: 70%;
    height: auto;
    float: right;
    opacity: 50%;
    z-index: -19;
  }
}

.logoImg {
  display: inline;
  position: relative;
  max-width: 20vw;
  top: -3vw;
  left: 15vw;
  z-index: 3;
}

.herotitle {
  color: $textcolor;
  position: relative;
  width: 50%;
  top: 15em;
  left: 15vw;
  margin-right: auto;
  z-index: 5;
  h3 {
    margin-top: $basemargin * 2;
    font-size: 2.5vw;
    margin-bottom: $basemargin * 5;
  }
  p:before {
    content: "";
    display: block;
    width: 6vw;
    height: 2px;
    background: $gold;
    left: -130px;
    top: 3%;
    position: absolute;
  }
}

.btn {
  background-color: $gold;
  padding: 1.5vw 3.5vw;
  border: none;
  font-size: 1vw;
  text-decoration: none;
  cursor: pointer;
  color: $bgcolor;
  z-index: 2;
}
.btn:hover {
  background-color: goldenrod;
}

//Intro

.introSection {
  margin: 0 auto;
  text-align: center;
  background-color: white;
  color: $bgcolor;
  p {
    max-width: 70%;
    margin: 0px auto;
    padding: 20px;
    text-align: center;
    font-weight: 200;
    font-size: $deskfont;
  }
}

//Profession
.profession {
  position: relative;
  top: -130px;
  overflow-x: hidden;
  h3 {
    color: $textcolor;
    position: relative;
    left: 15vw;
    margin-top: $basemargin * 2;
    font-size: $deskfont * 2;
    margin-bottom: $basemargin * 5;
  }
  h3:before {
    content: "";
    display: block;
    width: 6vw;
    height: 2px;
    background: $gold;
    left: -130px;
    top: 50%;
    position: absolute;
  }
}

.dropdownDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 80%;
  margin: 0 auto;
  h4 {
    font-size: $deskfont;
  }
}

.arrowDiv {
  position: relative;
  flex: 1 0 25%;
  width: 20%;
  border-top: $textcolor 2px solid;
  padding: 5px;
  margin: 30px 10px;
  cursor: pointer;
  h4 {
    display: inline;
    margin: 10px;
  }
  p {
    margin: 20px;
  }

  .arrowOn {
    transform: rotate(90deg);
    transition: transform 0.5s;
  }

  .arrowOff {
    transform: rotate(0deg);
    transition: transform 0.5s;
  }
}

.professionList {
  margin-top: 15px;
  padding-left: 15px;
  li {
    padding: 5px;
  }
}

@media screen and (max-width: 1020px) {
  .dropdownDiv {
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }

  .arrowDiv {
    width: 80%;
    flex: 1 0 50%;
  }
}

//PRICES

.prices {
  background-color: $white;
  h3 {
    color: $textcolor;
    position: relative;
    left: 15vw;
    margin-top: $basemargin * 2;
    font-size: $deskfont * 2;
    margin-bottom: $basemargin * 5;
    color: $bgcolor;
  }
  h3:before {
    content: "";
    display: block;
    width: 6vw;
    height: 2px;
    background: $bgcolor;
    left: -130px;
    top: 50%;
    position: absolute;
  }
}
.pricesText {
  max-width: 70%;
  margin: 0 auto 30px;
  color: $bgcolor;
  font-size: $deskfont;
  p {
    margin: 50px 0;
  }
}

.email {
  display: inline-block;
  background-color: $gold;
  padding: 15px 20px;
  margin: 25px auto;
  border: none;
  font-size: $deskfont;
  text-decoration: none;
  cursor: pointer;
  color: $bgcolor;
  z-index: 2;
}
.email:hover {
  background-color: goldenrod;
}

//Contact

.contactText {
  display: flex;
  justify-content: space-between;
  max-width: 70vw;
  margin: 0 auto 15px;
  color: $textcolor;
  @media screen and (max-width: 800px) {
    flex-direction: column;
    align-items: center;
  }
}

.contactForm {
  display: inline-flex;
  flex-direction: column;
  input[type="text"],
  input[type="email"] {
    margin: 10px 0;
    font-size: $deskfont * 2;
  }
  border: 2px solid $gold;
  padding: 50px;
  font-size: $deskfont;
  input:nth-child(9) {
    margin: 15px auto;
  }
  textarea {
    font-size: $deskfont * 2;
  }
  .col-75 {
    float: left;
    margin-top: 6px;
  }
}

//Footer

.logoImg2 {
  max-width: 80%;
  left: 15vw;
  z-index: 3;
}

.footerDiv {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
  h3 {
    font-size: $deskfont * 2;
  }

  @media screen and (max-width: 1020px) {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: left;
    margin-left: 70px;
  }
}

.footerFlex {
  margin: 15px 0;
}

.footerList {
  margin-top: 10px;
  li {
    margin: 15px;
    color: $textcolor;
    list-style-type: none;
  }

  a {
    text-decoration: none;
    font-size: $deskfont;
  }

  li:hover {
    color: $gold;
  }
}

//media query

@media screen and (max-width: 800px) {
  .profession h3,
  .prices h3 {
    position: static;
    margin: 20px;
  }
  .profession {
    position: static;
  }

  .heroDiv {
    position: static;
    width: 100vw;
  }

  .herotitle {
    position: absolute;
    width: 80%;
    top: 130px;
    left: 0;
    margin-left: 50px;
    h3 {
      font-size: 20px;
    }
    .btn {
      font-size: 12px;
    }
  }

  .logoImg {
    max-width: 120px;
    top: -5vw;
  }

  .contactForm input[type="text"],
  .contactForm input[type="email"],
  .contactForm textarea {
    font-size: $deskfont;
  }
}
