@import "src/variables";
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:weight@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  list-style: none;
  font-family: "Ibarra Real Nova", serif;
}

a {
  text-decoration: none;
}

//topnav
.topnavsection {
  padding: $basemargin $basemargin * 8 0;
  width: 99vw;
  display: flex;
  justify-content: space-between;
  background-color: #090b0c;
  color: $textcolor;
  .topnavdiv {
    padding: $basemargin;
    display: flex;
  }
  .topnavicons {
    padding: $basemargin;
    a {
      padding: 0 2px;
      color: $textcolor;
      text-decoration: none;
    }
  }

  @media screen and (max-width: 1020px) {
    justify-content: flex-end;
    padding: 10px 40px 0;
  }
}

.verticalspacer {
  width: 2px;
  background-color: $gold;
  margin: 0 $basemargin;
}

//Navbar

.navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 50px;
  right: 30px;
  margin: 0 $basemargin * 8;
  background-color: transparent;
  color: $textcolor;
  z-index: 50;
  -webkit-transition: 0.6s ease-in;
  -moz-transition: 0.6s ease-in;
  -o-transition: 0.6s ease-in;
  -ms-transition: 0.6s ease-in;
  transition: 0.6s ease-in;
  h3 {
    font-size: $deskfont;
  }
  a {
    padding: $basemargin;
    color: $textcolor;
    text-decoration: none;
  }
  a:hover {
    background-color: $gold;
    color: $bgcolor;
  }
}

.navbarDeactive {
  display: flex;
}

//Hero

.heroDiv {
  display: block;
  width: 99vw;
  height: auto;
  overflow: hidden;
  background-color: #090b0c;
  img {
    display: block;
    position: relative;
    overflow: hidden;
    top: 0;
    right: 0px;
    width: 75%;
    height: auto;
    float: right;
    opacity: 50%;
    z-index: 1;
    @media screen and (max-width: 370px) {
      display: none;
      width: 70%;
      top: 80px;
      right: -80px;
    }
    @media screen and (min-width: 371px) and (max-width: 800px) {
      width: 70%;
      top: 70px;
      right: -60px;
    }
  }
  @media screen and (max-width: 500px) {
    height: 30vh;
  }
}

.logoImg {
  position: absolute;
  max-width: 250px;
  top: 5vw;
  left: 6vw;
  z-index: 3;
}

.herotitle {
  color: $textcolor;
  position: absolute;
  width: 80%;
  top: 20em;
  left: 15vw;
  margin-right: auto;
  z-index: 5;
  @media screen and (max-width: 500px) {
    width: 60%;
  }
  h3 {
    font-size: 2.2vw;
    margin-bottom: $basemargin;
  }
  p:before {
    content: "";
    display: block;
    width: 6vw;
    height: 2px;
    background: $gold;
    left: -130px;
    top: 3%;
    position: absolute;
  }
  h4 {
    margin-bottom: 35px;
    margin-top: -20px;
    @media screen and (max-width: 500px) {
      display: none;
    }
  }

  h4:before {
    content: "";
    display: block;
    width: 6vw;
    height: 2px;
    background: $gold;
    left: -130px;
    transform: translate(0, 5px);
    position: absolute;
  }
}

.btn {
  background-color: $gold;
  position: absolute;
  top: 10em;
  padding: 1.5vw 3.5vw;
  border: none;
  font-size: $deskfont;
  text-decoration: none;
  cursor: pointer;
  color: $bgcolor;
  z-index: 2;
  @media screen and (max-width: 500px) {
    top: 8em;
  }
}
.btn:hover {
  background-color: goldenrod;
}

//Intro

.introSection {
  background-color: white;
  color: $bgcolor;
  .introText {
    max-width: 70%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 3fr 0.5fr 5.5fr;
    @media screen and (max-width: 1000px) {
      display: flex;
      flex-direction: column;
      max-width: 85%;
      h3 {
        font-size: $deskfont * 1.2;
        margin-right: 0;
      }
    }
  }
  p {
    margin: 0px auto;
    padding: 20px;
    text-align: left;
    font-weight: 200;
    font-size: $deskfont / 1.2;
  }

  h3 {
    font-size: $deskfont * 2.3;
    margin-right: 50px;
  }
  h5 {
    color: $bgcolor;
    margin-top: $basemargin * 2;
    text-align: left;
    font-size: $deskfont;
    margin-bottom: $basemargin * 5;
    @media screen and (max-width: 500px) {
      display: none;
    }
  }

  h5:before {
    content: "";
    display: block;
    width: 6vw;
    height: 2px;
    background: $gold;
    left: -130px;
    transform: translate(0, 10px);
    position: relative;
  }
}

//Profession
.profession {
  background-color: $bgcolor;
  color: $textcolor;
  padding-top: 20px;
  h3 {
    color: $textcolor;
    display: inline-block;
    position: relative;
    left: 15vw;
    margin-top: $basemargin * 2;
    font-size: $deskfont * 2;
  }
  h3:before {
    content: "";
    display: block;
    width: 6vw;
    height: 2px;
    background: $gold;
    left: -130px;
    top: 50%;
    position: absolute;
  }
}

.dropdownDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 70%;
  margin: 0 auto;
  h4 {
    font-size: $deskfont;
  }
}

.arrowDiv {
  position: relative;
  flex: 1 0 33%;
  width: 25%;
  border-top: $textcolor 2px solid;
  padding: 5px;
  margin: 30px;
  cursor: pointer;
  h4 {
    display: inline;
    margin: 10px;
  }
  p {
    margin: 20px;
  }

  .arrowOn {
    transform: rotate(90deg);
    transition: transform 0.5s;
  }

  .arrowOff {
    transform: rotate(0deg);
    transition: transform 0.5s;
  }
}

.professionList {
  margin-top: 15px;
  padding-left: 15px;
  li {
    padding: 5px;
    list-style: none;
  }
  li:before {
    content: "§";
    position: relative;
    margin-right: 10px;
    top: 0;
    left: -10px;
    display: inline-block;
    color: $gold;
  }
}

@media screen and (max-width: 1020px) {
  .dropdownDiv {
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }

  .arrowDiv {
    width: 80%;
    flex: 1 0 50%;
  }
}

//PRICES

.prices {
  background-color: $white;
  h3 {
    display: inline-block;
    position: relative;
    left: 15vw;
    margin-top: $basemargin * 2;
    font-size: $deskfont * 2;
    color: $bgcolor;
  }
  h3:before {
    content: "";
    display: block;
    width: 6vw;
    height: 2px;
    background: $bgcolor;
    left: -130px;
    top: 50%;
    position: absolute;
  }
}
.pricesText {
  max-width: 70%;
  margin: 0 auto;
  text-align: justify;
  color: $bgcolor;
  font-size: $deskfont;
  p {
    margin: 50px 0;
  }
}

.email {
  display: inline-block;
  background-color: $gold;
  padding: 15px 20px;
  margin: 25px auto;
  border: none;
  font-size: $deskfont;
  text-decoration: none;
  cursor: pointer;
  color: $bgcolor;
  z-index: 2;
}
.email:hover {
  background-color: goldenrod;
}
.email:disabled {
  background-color: #cccccc;
  color: #666666;
}

//Contact

.contact {
  background-color: $gold;
  color: $bgcolor;
  padding: 20px 0;
  h3 {
    position: relative;
    display: inline-block;
    left: 15vw;
    margin-top: $basemargin * 2;
    font-size: $deskfont * 2;
    margin-bottom: $basemargin * 5;
  }
  h3:before {
    content: "";
    display: block;
    width: 6vw;
    height: 2px;
    background: $bgcolor;
    left: -130px;
    top: 50%;
    position: absolute;
  }
}
.contactText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 70vw;
  margin: 0 auto 15px;
  font-size: $deskfont;
  color: $bgcolor;
  @media screen and (max-width: 800px) {
    flex-direction: column;
    align-items: center;
  }
}

.contactForm {
  display: inline-flex;
  flex-direction: column;
  margin: $basemargin * 2 auto;

  input[type="text"],
  input[type="email"] {
    margin: 10px 0;
    font-size: $deskfont * 1.3;
  }
  font-size: $deskfont;
  input:nth-child(9) {
    margin: 15px auto;
  }
  textarea {
    font-size: $deskfont * 2;
  }
  .col-75 {
    float: left;
    margin-top: 6px;
  }

  .formConsent {
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      align-items: center;
      margin-top: 30px;
    }
  }
  p {
    max-width: fit-content;
    font-size: $deskfont / 1.2;
    margin-left: 10px;
    span {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

//Footer

.logoImg2 {
  max-width: 70%;
  left: 15vw;
  z-index: 3;
}

.footerDiv {
  display: flex;
  position: relative;
  top: -20px;
  bottom: -20px;
  justify-content: space-evenly;
  background-color: $bgcolor;
  h3 {
    font-size: $deskfont * 2;
  }

  @media screen and (max-width: 1020px) {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: left;
    .footerDisclaimer {
      max-width: 90%;
      margin: 30px auto;
      padding-right: 40px;
      p {
        text-align: left;
      }
    }
  }
}

.footerDisclaimer {
  display: flex;
  color: $textcolor;
  flex-direction: column;
  justify-content: space-around;
  max-width: 20%;
  p {
    margin-top: 10px;
    display: inline-block;
    text-align: justify;
  }
}

.footerFlex {
  color: $textcolor;
  margin: 15px 20px;
  h3 {
    font-size: $deskfont;
  }
}

.footerList {
  margin-top: 10px;
  li {
    font-size: $mobfont;
    margin: 15px;
    color: $textcolor;
    list-style-type: none;
  }

  a {
    text-decoration: none;
    font-size: $deskfont;
  }

  li:hover {
    color: $gold;
  }
}

//media query

@media screen and (max-width: 800px) {
  .pricesText {
    max-width: 85%;
  }

  p {
    font-size: $mobfont;
  }

  .profession h3,
  .prices h3,
  .contact h3 {
    position: static;
    margin: 20px;
    font-size: $deskfont * 1.2;
  }
  .profession {
    position: static;
  }

  .heroDiv {
    position: static;
    width: 100vw;
  }

  .herotitle {
    position: absolute;
    width: 60%;
    top: 100px;
    left: -5vw;
    margin-left: 50px;
    h3 {
      margin-bottom: $basemargin * 3;
      font-size: 16px;
    }
    .btn {
      font-size: 14px;
      padding: 12px;
    }
  }

  .logoImg {
    max-width: 100px;
  }

  .contactForm input[type="text"],
  .contactForm input[type="email"],
  .contactForm textarea,
  .contactForm > label {
    font-size: $mobfont * 1.2;
  }
}
