* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Garamond";
}

body {
  background-color: #090b0c;
  color: #d9dada;
}

a {
  text-decoration: none;
}

.topnavsection {
  padding: 10px 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.555);
  color: #d9dada;
}

.topnavsection .topnavdiv {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topnavsection .topnavicons {
  padding: 10px;
}

.topnavsection .topnavicons a {
  padding: 0 2px;
  color: #d9dada;
  text-decoration: none;
}

@media screen and (max-width: 1020px) {
  .topnavsection {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 10px 40px 0;
  }
}

.verticalspacer {
  width: 2px;
  background-color: #e9c576;
  margin: 0 10px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 20px 80px;
  color: #d9dada;
}

.navbar a {
  padding: 10px;
  color: #d9dada;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #e9c576;
  color: #181026;
}

.heroDiv {
  display: block;
  position: relative;
  top: -130px;
  width: 95vw;
  height: auto;
  overflow: hidden;
}

.heroDiv img {
  display: block;
  position: relative;
  overflow: hidden;
  right: -90px;
  width: 70%;
  height: auto;
  float: right;
  opacity: 50%;
  z-index: -19;
}

.logoImg {
  display: inline;
  position: relative;
  max-width: 20vw;
  top: -3vw;
  left: 15vw;
  z-index: 3;
}

.herotitle {
  color: #d9dada;
  position: relative;
  width: 50%;
  top: 10em;
  left: 15vw;
  margin-right: auto;
  z-index: 5;
}

.herotitle h3 {
  margin-top: 20px;
  font-size: 2.5vw;
  margin-bottom: 50px;
}

.herotitle p:before {
  content: "";
  display: block;
  width: 6vw;
  height: 2px;
  background: #e9c576;
  left: -130px;
  top: 3%;
  position: absolute;
}

.btn {
  background-color: #e9c576;
  padding: 1.5vw 3.5vw;
  border: none;
  font-size: 22px;
  text-decoration: none;
  cursor: pointer;
  color: #181026;
  z-index: 2;
}

.btn:hover {
  background-color: goldenrod;
}

.introSection {
  margin: 0 auto;
  text-align: center;
  background-color: white;
  color: #181026;
}

.introSection p {
  max-width: 70%;
  margin: 0px auto;
  padding: 20px;
  text-align: center;
  font-weight: 200;
  font-size: 22px;
}

.profession {
  position: relative;
  top: -130px;
  overflow-x: hidden;
}

.profession h3 {
  color: #d9dada;
  position: relative;
  left: 15vw;
  margin-top: 20px;
  font-size: 44px;
  margin-bottom: 50px;
}

.profession h3:before {
  content: "";
  display: block;
  width: 6vw;
  height: 2px;
  background: #e9c576;
  left: -130px;
  top: 50%;
  position: absolute;
}

.dropdownDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 70%;
  margin: 0 auto;
}

.dropdownDiv h4 {
  font-size: 22px;
}

.arrowDiv {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  width: 20%;
  border-top: #d9dada 2px solid;
  padding: 5px;
  margin: 30px 10px;
  cursor: pointer;
}

.arrowDiv h4 {
  display: inline;
  margin: 10px;
}

.arrowDiv p {
  margin: 20px;
}

.arrowDiv .arrowOn {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.arrowDiv .arrowOff {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.professionList {
  margin-top: 15px;
  padding-left: 15px;
}

.professionList li {
  padding: 5px;
}

@media screen and (max-width: 1020px) {
  .dropdownDiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .arrowDiv {
    width: 80%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

.prices {
  background-color: white;
}

.prices h3 {
  color: #d9dada;
  position: relative;
  left: 15vw;
  margin-top: 20px;
  font-size: 44px;
  margin-bottom: 50px;
  color: #181026;
}

.prices h3:before {
  content: "";
  display: block;
  width: 6vw;
  height: 2px;
  background: #181026;
  left: -130px;
  top: 50%;
  position: absolute;
}

.pricesText {
  max-width: 70%;
  margin: 0 auto 30px;
  text-align: justify;
  color: #181026;
  font-size: 22px;
}

.pricesText p {
  margin: 50px 0;
}

.email {
  display: inline-block;
  background-color: #e9c576;
  padding: 15px 20px;
  margin: 25px auto;
  border: none;
  font-size: 22px;
  text-decoration: none;
  cursor: pointer;
  color: #181026;
  z-index: 2;
}

.email:hover {
  background-color: goldenrod;
}

.email:disabled {
  background-color: #cccccc;
  color: #666666;
}

.contactText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 70vw;
  margin: 0 auto 15px;
  font-size: 22px;
  color: #d9dada;
}

@media screen and (max-width: 800px) {
  .contactText {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contactForm {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px auto;
  border: 2px solid #e9c576;
  padding: 50px;
  font-size: 22px;
}

.contactForm input[type="text"],
.contactForm input[type="email"] {
  margin: 10px 0;
  font-size: 33px;
}

.contactForm input:nth-child(9) {
  margin: 15px auto;
}

.contactForm textarea {
  font-size: 35.2px;
}

.contactForm .col-75 {
  float: left;
  margin-top: 6px;
}

.contactForm .formConsent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactForm p {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 22px;
  margin-left: 10px;
}

.contactForm p span {
  cursor: pointer;
  text-decoration: underline;
}

.logoImg2 {
  max-width: 80%;
  left: 15vw;
  z-index: 3;
}

.footerDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 100px;
  background-color: #090b0c;
}

.footerDiv h3 {
  font-size: 44px;
}

@media screen and (max-width: 1020px) {
  .footerDiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    margin-left: 70px;
  }
  .footerDiv .footerDisclaimer {
    max-width: 90%;
    margin: 30px auto;
    padding-right: 40px;
  }
  .footerDiv .footerDisclaimer p {
    text-align: left;
  }
}

.footerDisclaimer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 20%;
}

.footerDisclaimer p {
  margin-top: 10px;
  display: inline-block;
  text-align: justify;
}

.footerFlex {
  margin: 15px 0;
}

.footerFlex h3 {
  font-size: 22px;
}

.footerList {
  margin-top: 10px;
}

.footerList li {
  font-size: 14px;
  margin: 15px;
  color: #d9dada;
  list-style-type: none;
}

.footerList a {
  text-decoration: none;
  font-size: 22px;
}

.footerList li:hover {
  color: #e9c576;
}

@media screen and (max-width: 800px) {
  .profession h3,
  .prices h3 {
    position: static;
    margin: 20px;
    font-size: 33px;
  }
  .profession {
    position: static;
  }
  .heroDiv {
    position: static;
    width: 100vw;
  }
  .herotitle {
    position: absolute;
    width: 80%;
    top: 100px;
    left: 0;
    margin-left: 50px;
  }
  .herotitle h3 {
    font-size: 16px;
  }
  .herotitle .btn {
    font-size: 14px;
    padding: 12px;
  }
  .logoImg {
    max-width: 120px;
    top: -90px;
  }
  .contactForm input[type="text"],
  .contactForm input[type="email"],
  .contactForm textarea {
    font-size: 22px;
  }
}
/*# sourceMappingURL=App.css.map */