@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:weight@400;500;600;700&display=swap);
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  list-style: none;
  font-family: "Ibarra Real Nova", serif;
}
a {
  text-decoration: none;
  color: #d9dada;
}
.topnavsection {
  padding: 10px 80px 0;
  width: 100%;
  height: 45px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  top: 0;
  color: #d9dada;
  z-index: 50;
  transition-timing-function: ease-in;
  transition: 0.6s;
  -webkit-transition: 0.6s ease-in;
  -moz-transition: 0.6s ease-in;
  -o-transition: 0.6s ease-in;
  -ms-transition: 0.6s ease-in;
}
.topnavsection .topnavdiv {
  padding: 10px;
  display: flex;
}
.topnavsection .topnavicons {
  padding: 10px;
}
.topnavsection .topnavicons a {
  padding: 0 2px;
  color: #d9dada;
  text-decoration: none;
}
@media screen and (max-width: 1020px) {
  .topnavsection {
    justify-content: flex-end;
    padding: 10px 40px 0;
  }
}
.verticalspacer {
  height: 30px;
}
.verticalspacer,
.verticalspacerLong {
  width: 2px;
  background-color: #e9c576;
  margin: 0 10px;
}
.verticalspacerLong {
  height: auto;
}
.fa {
  font-size: 24px;
  padding: 0 5px;
}
.fa:hover {
  color: #e9c576;
}
.topnavdeactive {
  height: 0;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  height: 40px;
  top: 70px;
  right: 30px;
  margin: 0 80px;
  background-color: transparent;
  color: #d9dada;
  z-index: 50;
  transition: 0.6s ease-in;
}
.navbar h3 {
  font-size: 22px;
}
.navbar a {
  padding: 10px;
  color: #d9dada;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #e9c576;
  color: #181026;
}
.navbarDeactive {
  height: 0;
}
.heroDiv {
  display: inline-block;
  position: relative;
  top: -80px;
  background-color: #181026;
}
.heroDiv,
.heroDiv img {
  height: auto;
  overflow: hidden;
}
.heroDiv img {
  right: 0;
  width: 70%;
  float: right;
  opacity: 50%;
  z-index: 1;
}
@media screen and (min-width: 370px) and (max-width: 800px) {
  .heroDiv img {
    top: 90px;
    right: -60px;
  }
}
.logoImg {
  position: absolute;
  max-width: 220px;
  top: 70px;
  left: 15vw;
  z-index: 200;
}
.herotitle {
  color: #d9dada;
  position: relative;
  width: 80%;
  top: 28vw;
  left: 15vw;
  margin-right: auto;
  z-index: 5;
}
.herotitle h3 {
  font-size: 2.2vw;
  margin-bottom: 20px;
}
@media screen and (max-width: 399px) {
  .herotitle {
    top: 37vw;
    width: 40%;
    left: 8vw;
  }
  .herotitle h3 {
    padding-top: 50px;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .herotitle .btn {
    position: static;
    font-size: 12px;
    padding: 12px;
  }
}
@media screen and (min-width: 400px) and (max-width: 499px) {
  .herotitle {
    top: 37vw;
    width: 40%;
    left: 8vw;
  }
  .herotitle h3 {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .herotitle .btn {
    position: static;
    font-size: 14px;
    padding: 12px;
  }
}
@media screen and (min-width: 500px) and (max-width: 600px) {
  .herotitle {
    width: 40%;
    left: 8vw;
    top: 33vw;
  }
  .herotitle h4 {
    display: none;
  }
  .herotitle h3 {
    margin-bottom: 50px;
    font-size: 18px;
  }
  .herotitle .btn {
    position: static;
    font-size: 14px;
    padding: 12px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1000px) {
  .herotitle {
    left: 8vw;
  }
  .herotitle h4 {
    display: none;
  }
}
.herotitle p:before {
  content: "";
  display: block;
  width: 6vw;
  height: 2px;
  background: #e9c576;
  left: -130px;
  top: 3%;
  position: absolute;
}
.herotitle h4 {
  margin-bottom: 35px;
  margin-top: -20px;
}
@media screen and (max-width: 500px) {
  .herotitle h4 {
    display: none;
  }
}
.herotitle h4:before {
  content: "";
  display: block;
  width: 6vw;
  height: 2px;
  background: #e9c576;
  left: -130px;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  position: absolute;
}
.btn {
  background-color: #e9c576;
  position: absolute;
  padding: 1.5vw 3.5vw;
  border: none;
  font-size: 22px;
  text-decoration: none;
  cursor: pointer;
  color: #181026;
  z-index: 2;
}
@media screen and (max-width: 500px) {
  .btn {
    top: 8em;
  }
}
.btn:hover {
  background-color: #daa520;
}
.introSection {
  background-color: #fff;
  color: #181026;
}
.introSection .introText {
  max-width: 70%;
  margin: 0 auto 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 0.5fr 5.5fr;
  grid-template-columns: 3fr 0.5fr 5.5fr;
}
@media screen and (max-width: 1000px) {
  .introSection .introText {
    display: flex;
    flex-direction: column;
    max-width: 85%;
  }
  .introSection .introText h3 {
    font-size: 26.4px;
    margin-right: 0;
  }
}
.introSection .introText p {
  margin: 0 auto;
  padding: 20px 0;
  text-align: justify;
  font-weight: 200;
  font-size: 18.33333px;
}
.introSection h3 {
  font-size: 50.6px;
  margin-right: 50px;
}
.introSection h5 {
  color: #181026;
  margin-top: 20px;
  text-align: left;
  font-size: 22px;
  margin-bottom: 50px;
}
@media screen and (max-width: 500px) {
  .introSection h5 {
    display: none;
  }
}
.introSection h5:before {
  content: "";
  display: block;
  width: 6vw;
  height: 2px;
  background: #e9c576;
  left: -130px;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  position: relative;
}
.profession {
  background-color: #181026;
  color: #d9dada;
  padding-top: 20px;
}
.profession h3 {
  color: #d9dada;
  display: inline-block;
  position: relative;
  left: 15vw;
  margin-top: 20px;
  font-size: 44px;
}
.profession h3:before {
  content: "";
  display: block;
  width: 6vw;
  height: 2px;
  background: #e9c576;
  left: -130px;
  top: 50%;
  position: absolute;
}
.dropdownDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 70%;
  margin: 0 auto;
}
.dropdownDiv h4 {
  font-size: 22px;
}
.arrowDiv {
  position: relative;
  flex: 1 0 33%;
  width: 25%;
  border-top: 2px solid #e9c576;
  padding: 5px;
  margin: 30px;
  cursor: pointer;
}
.arrowDiv h4 {
  display: inline;
  margin: 10px;
}
.arrowDiv p {
  margin: 20px;
}
.arrowDiv .arrowOn {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.arrowDiv .arrowOff,
.arrowDiv .arrowOn {
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.arrowDiv .arrowOff {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.professionList {
  margin-top: 15px;
  padding-left: 15px;
}
.professionList li {
  padding: 5px;
  list-style: none;
}
.professionList li:before {
  content: "§";
  position: relative;
  margin-right: 10px;
  top: 0;
  left: -10px;
  display: inline-block;
  color: #e9c576;
}
@media screen and (max-width: 1020px) {
  .dropdownDiv {
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }
  .arrowDiv {
    width: 80%;
    flex: 1 0 50%;
  }
}
.prices {
  background-color: #fff;
}
.prices h3 {
  display: inline-block;
  position: relative;
  left: 15vw;
  margin-top: 20px;
  font-size: 44px;
  color: #181026;
}
.prices h3:before {
  content: "";
  display: block;
  width: 6vw;
  height: 2px;
  background: #181026;
  left: -130px;
  top: 50%;
  position: absolute;
}
.pricesText {
  max-width: 70%;
  margin: 0 auto;
  text-align: justify;
  color: #181026;
  font-size: 22px;
}
.pricesText p {
  margin: 50px 0;
}
.contact {
  background-color: #e9c576;
  color: #181026;
  padding: 20px 0;
}
.contact h3 {
  position: relative;
  display: inline-block;
  left: 15vw;
  margin-top: 20px;
  font-size: 44px;
  margin-bottom: 50px;
}
.contact h3:before {
  content: "";
  display: block;
  width: 6vw;
  height: 2px;
  background: #181026;
  left: -130px;
  top: 50%;
  position: absolute;
}
.formContainer {
  background-color: #181026;
  padding: 10px 1em;
  color: #e9c576;
  margin-top: 20px;
}
.contactText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 70vw;
  margin: 0 auto 15px;
  font-size: 22px;
  color: #181026;
}
@media screen and (max-width: 800px) {
  .contactText {
    flex-direction: column;
    align-items: center;
  }
}
.contactForm {
  display: inline-flex;
  flex-direction: column;
  margin: 20px auto;
  font-size: 22px;
}
.contactForm input[type="email"],
.contactForm input[type="text"] {
  margin: 10px 0;
  font-size: 22px;
  padding: 5px;
}
.contactForm input:nth-child(9) {
  margin: 15px auto;
}
.contactForm textarea {
  font-size: 22px;
  padding: 5px;
}
.contactForm .col-75 {
  float: left;
  margin-top: 6px;
}
.contactForm .formConsent {
  display: flex;
  flex-direction: column;
}
.contactForm .formConsent div {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.contactForm p {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 18.33333px;
  margin-left: 10px;
}
.contactForm p span {
  cursor: pointer;
  text-decoration: underline;
}
.email {
  display: inline-block;
  background-color: #e9c576;
  padding: 15px 20px;
  margin: 25px auto;
  border: none;
  font-size: 22px;
  text-decoration: none;
  cursor: pointer;
  color: #181026;
  z-index: 2;
}
.email:hover {
  background-color: #daa520;
}
.email:disabled {
  background-color: #ccc;
  color: #666;
}
.logoImg2 {
  max-width: 70%;
  left: 15vw;
  z-index: 3;
}
.footerDiv {
  display: flex;
  top: -20px;
  bottom: -20px;
  justify-content: space-evenly;
  background-color: #181026;
  padding-top: 40px;
}
.footerDiv h3 {
  font-size: 44px;
}
@media screen and (max-width: 800px) {
  .footerDiv {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: left;
  }
  .footerDiv .footerDisclaimer {
    max-width: 90%;
    margin: 30px auto;
    padding-right: 40px;
  }
  .footerDiv .footerDisclaimer p {
    text-align: left;
  }
}
.footerDisclaimer {
  display: flex;
  color: #d9dada;
  flex-direction: column;
  justify-content: space-around;
  max-width: 20%;
}
.footerDisclaimer p {
  margin-top: 10px;
  display: inline-block;
  text-align: justify;
}
.footerDisclaimer a {
  color: #e9c576;
}
.footerFlex {
  color: #d9dada;
  margin: 15px 20px;
}
.footerFlex h3 {
  font-size: 22px;
}
.footerList {
  margin-top: 10px;
}
.footerList li {
  font-size: 18px;
  margin: 15px;
  color: #d9dada;
  list-style-type: none;
}
.footerList a {
  text-decoration: none;
  font-size: 22px;
}
.footerList li:hover {
  color: #e9c576;
}
.bottom {
  background-color: #181026;
  text-align: center;
  color: #d9dada;
  padding-top: 10px;
}
.bottom p {
  padding: 5px 0;
  font-size: 11px;
}
.bottom img {
  max-height: 20px;
  padding-left: 5px;
  vertical-align: middle;
}
@media screen and (max-width: 1000px) {
  .introText,
  .pricesText {
    max-width: 85%;
  }
  p {
    font-size: 18px;
  }
  .contact h3,
  .prices h3,
  .profession h3 {
    position: static;
    margin: 20px;
    font-size: 26.4px;
  }
  .profession {
    position: static;
  }
  .heroDiv {
    position: relative;
    width: 100vw;
  }
  .logoImg {
    max-width: 100px;
    top: 10px;
    left: 8vw;
  }
  .contactForm > label,
  .contactForm input[type="email"],
  .contactForm input[type="text"],
  .contactForm textarea {
    font-size: 21.6px;
  }
}
/*# sourceMappingURL=main.42be4e5b.chunk.css.map */
